* {
    box-sizing: border-box;
  }

header {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 100%;
    height: auto;
    padding: 3%;
}

.music {
    text-align: left;
}

.video {
    text-align: left;
}

/* Mailchimp signup form */

#mc_embed_signup, .mc-field-group {
    padding: 1%;
    
}
